<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mageplus_Project::mageplus_project"
             title="Project"
             module="Mageplus_Project"
             sortOrder="40"
             parent="Mageplus_Base::menu"
             translate="title"
             resource="Mageplus_Project::mageplus_project"/>
        <add id="Mageplus_Project::project_settings"
             title="Settings"
             module="Mageplus_Project"
             sortOrder="80"
             parent="Mageplus_Project::mageplus_project"
             action="adminhtml/system_config/edit/section/mpproject"
             resource="Mageplus_Project::project_settings"/>
        <add id="Mageplus_Project::project_listing"
             sortOrder="100"
             title="Manage Projects"
             module="Mageplus_Project"
             parent="Mageplus_Project::mageplus_project"
             resource="Mageplus_Project::project_listing"
             translate="title"
             action="project/project/index"/>
        <add id="Mageplus_Project::tag_listing"
             sortOrder="120"
             title="Manage Tag"
             module="Mageplus_Project"
             parent="Mageplus_Project::mageplus_project"
             resource="Mageplus_Project::tag_listing"
             translate="title"
             action="project/tag/index"/>
        <add id="Mageplus_Project::import_upload"
             sortOrder="140"
             title="Import Upload Images"
             module="Mageplus_Project"
             parent="Mageplus_Project::mageplus_project"
             resource="Mageplus_Project::import_upload"
             translate="title"
             action="project/import/index"/>
        <add id="Mageplus_Project::import_project"
             title="Import Project (Csv)"
             module="Mageplus_Project"
             sortOrder="160"
             parent="Mageplus_Project::mageplus_project"
             action="project/import/project"
             resource="Mageplus_Project::import_project"/>
    </menu>
</config>
