<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mpproject>
            <general>
                <enable_pages>1</enable_pages>
                <label>Project List</label>
            </general>
            <project>
                <main_settings>
                    <url>projects</url>
                    <grid_per_page_values>12,24,36</grid_per_page_values>
                    <grid_per_page>12</grid_per_page>
                    <list_per_page_values>4,8,12</list_per_page_values>
                    <list_per_page>4</list_per_page>
                </main_settings>
            </project>
        </mpproject>
    </default>
</config>
